# Buildozer
.buildozer/
bin/
__pycache__/
*.pyc
*.pyo

# Virtual environments
buildozer_env/
buildozer-env/
venv/
env/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# APK files (temporários)
*.apk

# Logs
*.log
